tree-sitter==0.23.2
tree-sitter-python==0.23.6
langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.29
langchain-openai==0.3.11    # not being used but can be used for future development
langchain-text-splitters==0.3.11
chromadb==0.5.23
openai>=1.50,<2.0   # not being used but can be used for future development
ollama>=0.3,<1.0
rank_bm25==0.2.2
networkx==3.3
sentence-transformers==3.3.1
ragas==0.2.9
pydantic>=2,<3
pydantic-settings>=2,<3
fastapi==0.115.6
uvicorn==0.32.1
tenacity==8.5.0
gitpython==3.1.43
ruff==0.7.4
python-dotenv==1.0.1
pytest==8.3.4